.comment {
    background-color: antiquewhite;
    margin: 5em;
    border: burlywood;
}
.error {
    color: crimson;
    border: red;
    background-color: palevioletred;
}

.unmoderated {
    border: dotted goldenrod;
}

.rejected {
    background-color: dimgrey;
    color: darkgrey;
    border: dashed cadetblue;
}